/* general rules for all the pages  */

:root {
  --orange: #EF5A2A;
  --blue: #025497;
  --green: #006729;
  --purple: #660066;
  --darkGrey: #596172;
  --grey: #949FB7;
  --lightGrey: #F6F6F6;
  --black: #0C0C0C;
  --white: #FFFFFF;
  --darkBlue: #032D60;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.d-flex { display: flex;}
.justify-center { justify-content: center;}
.justify-between { justify-content: space-between;}
.justify-end { justify-content: flex-end;}
.items-center { align-items: center;}

.m-2 { margin: 2rem;}
.mr-05 { margin-right: 0.5rem;}
.mb-1 { margin-bottom: 1rem;}
.mb-05 { margin-bottom: 0.5rem;}
.mb-2 { margin-bottom: 2rem;}
.ml-1 { margin-left: 1rem;}
.mr-1 { margin-right: 1rem;}

.pl-1 { padding-left: 1rem;}
.pr-1 { padding-right: 1rem;}
.pl-05 { padding-left: 0.5rem;}
.pr-05 { padding-right: 0.5rem;}
.p-0 { padding: 0; }

.w-50 { width: 50%;}
.w-100 { width: 100%;}
.relative { position: relative; }

h1 { font-size: 1.4rem;}
h2 { font-size: 1.2rem;}
h3 { font-size: 1.1rem; text-transform: capitalize; }
h4 {
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--darkGrey);
}
p { font-size: 0.7rem; }

input, textarea, select {
  padding: 0.7rem 0.5rem;
  border-radius: 0.5rem;
  border: 0.5px solid var(--grey);
  color: var(--darkGrey);
  font-family: "Montserrat", sans-serif;
  min-height: 40px;
  height: 40px;
}
input::placeholder, textarea::placeholder { opacity: 0.5; }
textarea {
  resize: none;
  overflow: hidden;
}
select { margin-bottom: 5px;}

input:focus, textarea:focus {
  outline: 1px solid var(--grey);
  color: var(--darkGrey);
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-text-fill-color: var(--darkGrey)!important;
}
input:-internal-autofill-selected { background-color: var(--white);}

a, a:visited {
  color: #0067b8;
  text-decoration: none;
}

.overlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 99; 
  justify-content: center;
  align-items: center;
}

.bottom {
  text-align: center;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}


.helper-text {
  position: absolute;
  visibility: hidden;
  bottom: calc( 100% + 5px );
  width: 25rem;
  background-color: var(--darkBlue);
  color: var(--white);
  padding: 1rem;
  text-transform: initial;
  font-weight: 300;
  z-index: 99;
  border-radius: 5px;
}
.helper-text.short {
  width: auto;
  white-space: nowrap;
}
.extra-space:hover:before {
  content: "";
  position: absolute;
  top: -5px;
  left: calc( 50% - 2px) ;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: var(--darkBlue) transparent transparent transparent;
}

.extra-space:hover .helper-text { visibility: visible; }

.generate-wrapper {
  background-color: var(--lightGrey);
  padding: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.savepdf {
  padding: 0.5rem 1rem;
}

.form-group { margin-top: 0.8rem; }

.video-wrapper {
  width: 750px;
  height: 420px;
}
.close-video-icon {
  position: absolute;
  right: 0;
  bottom: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5px;
  height: 20px;
  width: 20px;
  background-color: var(--lightGrey);
  border: 0.5px solid var(--grey);
  border-radius: 3px;
}

/* When the checkbox is checked, add a green background */
.container input:checked ~ .checkmark {
  background-color: var(--green);
  border-color: var(--green);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2.5px 2.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
